# yambs-project-template

![Build Status](https://github.com/libre-embedded/yambs-project-template/actions/workflows/create-project.yml/badge.svg)

The [yambs](https://github.com/libre-embedded/yambs) project implements a C/C++
build-system.

*This is a template intended to be used with
[Cookiecutter](https://github.com/cookiecutter/cookiecutter).*

# Usage

Invoke `cookiecutter` and fill out information about your project:

```
cookiecutter git@github.com:libre-embedded/yambs-project-template.git
```

Example output (interactive):

```
name [Libre Embedded]: <Your Name>
email [vaughn@libre-embedded.com]: <your@email.com>
...
```

## Structure

```
$ {{" ".join(tree["args"])}}

{{tree["stdout"]}}
```
